<main class="flex min-h-screen min-w-full">
    <div class="relative m-auto">
        <div class="absolute shadow-md inset-0 bg-blue-400 rounded-2xl transform -rotate-6"></div>
        <div class="absolute shadow-md inset-0 bg-red-400 rounded-2xl transform -rotate-3"></div>
        <div class="relative shadow-md px-12 py-10 bg-gray-100 rounded-2xl text-center select-none">
            <h1 class="text-3xl font-light">Codenames</h1>
            <h2 class="text-xl font-light mb-8">An online word-guessing game for a minimum of 4 players.</h2>
            <a class="px-10 py-2 rounded-full bg-green-400 text-white font-bold transition-colors hover:bg-green-500" href="/game">Play!</a>
        </div>
    </div>
</main>